<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browser" value="chrome"/>
    <parameter name="url" value=""/>
    <parameter name="username" value="huangsp1"/>
    <parameter name="password" value="1"/>
    <parameter name="editPage" value=""/>
    <test verbose="2" preserve-order="true" name="test">
        <classes>
            <class name="com.web.runcase.EditCase" >
                <parameter name="url" value=""/>
                <methods>
                    <include name="AddComponetCase"></include>
                    <include name="CopyComponetCase"></include>
                    <include name="DelComponetCase"></include>
                    <include name="RenameComponetCase"></include>
                    <include name="MoveToNextCase"></include>
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.web.util.ExtentTestNGIReporterListener" />
    </listeners>
</suite>